body {
  background-color: white;
  color: black;
  font-family: 'Times New Roman',Georgia,serif;
  margin: 0;
  padding: 0;
}

nav{
    background-color:white;
    padding:0.5rem 2%;
    border-bottom:2px solid #9A0000;
}
.site_title{
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none; 
}
nav ul{
    display:flex;
    list-style:none;
    align-items:center;
    gap:20px;
    padding :0px;
    margin:0px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px 15px; 
    display: inline-block;
    background-color: transparent;
}
nav ul li a:hover {
    color: white; 
    background-color: black; 
    border-radius: 10px;
}
.active {
  
    border-bottom: 3px solid #9A0000;
    padding-bottom: 1px;
}


h1, h2 {
  text-align: center;
  color: #9A0000;
  font-size: 40px
}

.about, .faq {
  max-width: 900px;
  margin: 30px auto;
  background-color: white;
  border: 3px solid #9A0000;
  border-radius: 25px;
  padding: 20px;
}

p {
  line-height: 1.5;
  font-size: 17px;
}

.us {
  padding-left: 20px;
}

.us li{
  padding: 5px;
}

.us li::marker{
  color: #9A0000;
}

.faq h3 {
  font-size: 22px;
  background-color: #fff;
  color: #9A0000;
  border-left: 5px solid black;
  padding: 10px;
}

.faq p {
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 3px solid #9A0000;
}

textarea{
   width: 50%;
  padding: 30px;
  border: 3px solid #9A0000;
  border-radius: 15px;
  outline: none;
}


#btn {
  background-color: #9a001b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color:#9A0000;
}

footer {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 3px solid #9A0000;
}
.box{
  text-align: center;
    flex: 1;
    margin: 5px;
}

.cpy {
    width: 100%;
    color: #bbb;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column; 
        text-align: center;
    }

    .site_title {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    #darkmode {
        width: 100%;       
        padding: 12px;
    }
}

@media (min-width: 601px) {
    nav ul {
        flex-direction: row;    
        justify-content: space-between; 
    }
}
